[2015-12-21 17:03] sgoings opened #2 "Install script broken link in Installation wiki doc"
The [Install Script](https://github.com/tmrts/boilr/wiki/Installation#install-script) section of the Installation doc in the wiki points to a script with URL: https://github.com/tmrts/boilr/install but needs to point to:
- https://raw.githubusercontent.com/tmrts/boilr/master/install or
- https://raw.githubusercontent.com/tmrts/boilr/0.1.0/install or
- https://github.com/tmrts/boilr/releases/downlo

[2015-12-21 17:18] tmrts commented on #2
Thanks a lot! Just fixed the wiki link to point to the install script included in the `v0.1.0` release

[2015-12-21 17:18] #2 closed, assigned to nobody

[2015-12-21 17:26] tmrts commented on #2
Also enabled public access to wiki so that people can add their own improvements.

[2015-12-22 05:37] sgoings opened #4 "Plan for updating projects when templates change?"
I'm currently toying around with the [makeup](https://github.com/sgoings/makeup) project and would love to see the makeup cli be fully ported to the boilr tool. However, I'm held up by what boilr's offerings for a "template update" feature might be.

Creating a project for the first time is a fairly automateable and understandable task, but having the ability to take a project from an initial crea

[2015-12-22 13:22] tmrts commented on #4
Thank you for your detailed use case and feature request.

 We can assume that any successful template will have new features and bug fixes. But, I didn't consider updating used templates when the boilr templates are updated since the aim at the moment is to provide a starter boilerplate for users.

However, I can see the benefit of adding a mechanism as a plugin command (`boilr plugin X args`) wi

[2015-12-29 16:26] sgoings commented on #4
I like this idea:

Where they'd potentially be asked more questions if the newer version needed to. I'm totally ok with this feature starting out as a plugin. That's what we did with [helm](http://helm.sh/).

[2016-03-16 10:42] buehler opened #5 "Possibility of "if" in templates?"
Hey @tmrts

I'm really tempted to use boilr, but one critical feature is missing. I need the possibility to create a condition in the questions. Nothing very complicated, but still. I had the idea of implementing it on my own, but there are so many libraries and tools out there, I didn't want to make "just another templater".

So I found your boilr.

Do you think it would be possible to add an if

[2016-03-16 10:59] tmrts commented on #5
Chris thank you for trying out boilr.

What you need is already implemented and can be used as such:

[code]

Default value of ExpertMode will be false and the user will see a boolean prompt for true/false.

In template usage:

[code]

For more information please take a look at the [wiki pages](https://github.com/tmrts/boilr/).
It explains the templating features of boilr.

For creating templates

[2016-03-16 12:15] buehler commented on #5
There is a little misunderstanding :wink:

I don't want to use `{{ If ExpertMode }}` in the templates. Its the initial questioning of the user that I'm interested in.

So if I define my condition stuff, the user gets asked about this question only if the condition is true.

`project.json`:

[code]

Example workflows:
1.)
- `boilr template use demo .`
- User gets asked: `Please choose a value for "

[2016-03-16 12:37] tmrts commented on #5
Gotcha I see what you mean :+1:

I can make an enhancement as such:

[code]

The workflow:
1. Prompt for `AppName`
2. Confirmation prompt for `ExpertMode`
3. If `ExpertMode` enabled, Prompt for the fields inside. Else, use default values of those.

I'll stew on this a bit more to get a good idea of pros/cons, but the feature is a good one and I'll work on it. Final usage might be a bit different

[2016-03-16 12:45] buehler commented on #5
Cool! :+1:
Yea that's exactly what I meant. This would be awesome!

And to be a little "challenging": in the same changes, would it be possible to add variables to the default values? i.e. run the default variables through go-templates first.

Like:

[code]

If this is possible (and easy) too, it would be as awesome as any other template engine! :wink:

Well, maybe I'll find the time to implement

[2016-03-16 12:51] tmrts commented on #5
Thanks for another good suggestion. I'll see what I can do, but It'd be a good idea to move this suggestion to a new issue just so it doesn't get lost.

I welcome any contribution, however at this stage adoption and feedback is more important to me. So, you are already making big contributions thank you :+1: .

[2016-03-16 13:06] buehler opened #6 "Add template possibility to default values"
Like I mentioned in #5

It would be nice to template the default values as well. i.e. run the default variables through go-templates first.

Like:

[code]

[2016-05-14 13:20] #5 closed, assigned to nobody

[2016-05-14 13:26] tmrts opened #7 "Template hooks"
Implement hook system using either UNIX domain sockets or a `hooks.json` file that contains references to scripts to be executed

[2016-05-14 13:29] tmrts opened #8 "Allow using TOML in addition to JSON"
TOML files are easier on the eyes and less verbose.

Allow using TOML instead of JSON

[2016-05-25 06:21] rawkode opened #9 "Unwanted Whitespace"
When composing slightly more complicated templates, there's no way to trim the whitespace.

**Example:**

[code]

**Outputs:**

[code]

I know `| trimSpace` exists, but not when using `template`. Also go template support `{{- -}}` - but that doesn't seem to work with boilr?

Please advise when you can - I'm assuming maybe I'm doing something wrong :)

[2016-05-25 06:46] rawkode opened #10 "Optional File Creation"
It would be good if we could specify that a file is only created when an assertion is true, rather than every file inside of `template` being created

[2016-05-25 07:26] tmrts commented on #10
I'm thinking we might put the file contents inside an if conditional and skip the file if it's empty.

I'm also up for other suggestions, any ideas?

[2016-05-25 07:29] tmrts commented on #9
This problem is related to Golang templates AFAIK, I've also tried '{{- -}}' and it didn't work.
I'll track the cause of the problem and see why `{{- -}}` isn't working.

Thanks for reporting @rawkode :+1:

[2016-05-25 07:36] rawkode commented on #10
@tmrts I had the same thought, skip empty files, when I was thinking about it :+1:

[2016-05-25 07:42] tmrts commented on #10
Another option would be to use the file names like so: `{{if BlacklistEnabled}}blacklist.txt{{end}}` (This is the complete name of the file)

[2016-05-25 07:43] rawkode commented on #9
Awesome - thanks.

I'd be keen to get involved, it's an awesome project. If you can tag some issues / feature requests as "low hanging fruit" or something, that would help me ease in :smile:

Cheers

[2016-05-25 07:48] rawkode commented on #10
I guess file names with spaces and special characters aren't as fussy as they used to be, thanks to fancy zsh plugins, and the like; I'd still tend to avoid them when possible though.

Not sure if this would be over-complicating, but it could become part of the schema:

[code]

[2016-05-25 07:54] tmrts commented on #9
Thanks for the offer!

I'll go over the code base and create starter issues for possible enhancements.

In the meantime feel free to report the smallest problems you have :smile:

[2016-05-25 21:23] magicshui opened #11 "Feature Request: Add private git support"
Thanks for your work:)
Will you add private git(such as gitlab EE) support to download template?

[2016-05-25 21:28] tmrts commented on #11
Thanks for trying out boilr!

I'm thinking of integrating a golang implementation of git to cover use cases like the one you mentioned. Essentially, you'll be able to get the same behavior as if you were using git clone.

[2016-05-27 19:44] tmrts opened #12 "Add log levels"
Implement logging levels for pkg `tlog`

See https://github.com/tmrts/boilr/blob/master/pkg/util/tlog/log.go#L32

[2016-05-27 20:07] #9 closed, assigned to nobody

[2016-05-27 20:07] #10 closed, assigned to nobody

[2016-05-27 20:10] tmrts commented on #9
I've investigated the problem and the `{{- -}}` syntax requires Go >= 1.6.

I updated the build version, starting form `0.3.0`, only Go 1.6 will be supported.

You can compile boilr from source to get this feature, if you don't want to wait for `0.3.0`

[2016-05-27 20:11] tmrts commented on #10
Boilr now cleans a file if after the execution of a template, the contents consist of only whitespace characters.

Cheers :smile:

[2016-05-27 20:14] tmrts commented on #12
@rawkode: this is a low hanging fruit to learn about the boilr, I hope you enjoy it!

I'll keep filing more

[2016-05-27 22:40] tmrts opened #13 "Create ASCII art logo for boilr"
Convert the [logo](https://github.com/tmrts/boilr/raw/master/logo.png) to ASCII and print it when using `boilr help`.

See cowsay utility to get a better idea.

[2016-05-28 10:29] rawkode commented on #12
Thanks @tmrts 👍

Going to check this out today :)

[2016-05-28 11:05] rawkode opened #14 "Check for updated template during "template use" and prompt for option"
It would be cool if boilr prompted/informed people that the template they're using has been updated and if they wish to update it.

[2016-05-28 13:11] tmrts commented on #14
After integrating version control #11 to boilr, I'm thinking of using the command `boilr template update` for updating templates.

Not sure about regularly making requests though, since it'll be slow

[2016-05-29 11:19] tmrts opened #15 "Extend command-line completion to local template registry"
Users should be able to use tab to auto-complete the names of saved/downloaded templates.

[2016-05-30 10:47] rawkode commented on #12
Hi @tmrts,

[code]

These imports scattered around the project mean that my local changes are neglected for the remotes. Am I doing something daft?

[2016-05-30 10:56] tmrts commented on #12
Hi @rawkode,

If I understood your problem correctly, you are developing on `github.com/rawkode/boilr/...`,
but changes you've made are not used, since imports still use `github.com/tmrts/boilr/...`.

You can get around this by doing the following:

[code]

And you can push your changes by using `git push fork <branch-id>`.

Let me know if it solves your problem

[2016-05-31 20:31] rawkode opened #16 "Support branches"
When using `template use repo/repo` - support `repo/repo:branch`

[2016-06-08 23:24] ax-nathan opened #17 "Allow hyphen and underscore in template-tags"
It would be nice to use `-` and `_` in template tags. Is there a reason why not to do this?

[2016-06-08 23:33] ax-nathan commented on #17
Happy to do a quick PR, if you're OK with it...

[2016-06-08 23:42] tmrts commented on #17
Nathan thanks for trying out boilr.

I don't have a problem with hypens or underscores in the template tags, thank you for bringing it up.
The change can be made by modifying the validation pattern for the related commands like `template save`, `template use`, etc. (see https://github.com/tmrts/boilr/blob/master/pkg/cmd/save.go#L24).

Feel free to do it if you can, if not I'll implement it when I

[2016-06-12 06:45] rawkode commented on #12
I started on this and it would seem there is an error with cobra (https://github.com/spf13/cobra/issues/245) that stops flags on the root command being passed on to sub-commands.

You can see my initial code: https://github.com/tmrts/boilr/compare/master...rawkode:feature/enable-log-levels?expand=1

Any thoughts on how I should proceed?

[2016-06-12 13:22] tmrts commented on #12
That is an annoying bug, but it's not a deal-breaker, because without log levels debug statements will be printed by default and with log levels implemented they will be ignored (unless turned on manually), so I can accept the PR

[2016-06-14 08:41] #16 closed, assigned to nobody

[2016-06-14 08:46] #12 closed, assigned to nobody

[2016-06-14 09:12] rawkode commented on #17
Hi @ax-nathan - if you don't have the time to work on this, just let me know and I'll pick it up. Nice idea though 👍

[2016-06-19 17:41] schmunk42 opened #20 "Docker support"
Hi @tmrts,

I just noticed you starred https://github.com/schmunk42/docker-boilr
Let me know if you'd like to integrate Docker support for boilr.

The above repo is a bit experimental at the moment, especially regarding host-volumes. But any feedback is very welcome!

[2016-06-20 21:23] tmrts commented on #20
Hey Tobias,

Thanks for your work. I'd be interested/happy to help you with integrating your work to boilr.
I'm not sure about the aliasing, but other than that it's very cool!

Let me know if you want to integrate it or I can try doing it

[2016-06-22 06:10] andrewhowdencom opened #21 "Make directory creation permissions a more lax 755"
Hi,

In Linux, users that are not in the same group as the user that is not the owner of the file require the execute permission on folders to traverse that folder.

At the minute, you're specifying 744 on created folders, which means (if I understand correctly -- a stretch) that the user not in the original group can read the folder, but not traverse it.

Ideally, you could pick up the permission

[2016-06-23 05:49] tmrts commented on #21
I agree about allowing traversal, but `umask` is already used, so that shouldn't be a problem 👍

[2016-06-29 05:42] andrewhowdencom opened #22 "Allow multiple values for a single option"
This is a feature request.

The use case is as follows: I use boilr to create various kinds of configuration files, such as configuration for Kubernetes deployments or XML configuration for Magento. In both these kinds of configuration, there's the possibility to have multiple values under a single "option". Below is an example of Volumes in Kubernetes, where you might have multiple assigned to ea

[2016-07-01 05:46] tmrts commented on #22
Thank you for the detailed request Andrew.

I was thinking about this one as well, but one problem is that JSON has limited types and we're using the list type for choices at the moment. I'll see what I can do about this one.

In the meanwhile feel free to add your boilr templates to the wiki template index, it's editable by everyone

[2016-07-01 05:52] tmrts commented on #21
4bf5327c implements this

[2016-07-01 05:52] #21 closed, assigned to tmrts

[2016-07-01 05:56] tmrts commented on #20
@schmunk42 any updates on this? let me know if you need help or if you don't have time to work on this. In the meanwhile feel free to edit the wiki to point to docker-boilr

[2016-07-01 06:10] tmrts commented on #22
It just occured to me that the dictionary lists, like your example, might be the best type for the foreach iteration. But, I don't want to use implicit typing too much, however using a DSL would also be harder since everybody knows JSON. For this case I'll continue with the implicit typing

[2016-07-02 05:28] andrewhowdencom commented on #22
I appreciate you taking the time to think about it. This tool has rapidly made it into my standard toolkit! It's excellent. If I had the time to contribute more, I would.

I'll add the templates I create to the wiki.

[2016-07-03 18:13] tmrts commented on #22
I'm very happy to hear that you found boilr useful!

You don't have to submit PRs to contribute to boilr, even reporting the issues is of tremendous value to me, thank you :)

[2016-07-04 08:27] schmunk42 commented on #20
Sorry for my late reply.

The first thing I noticed when building the image was, that I need to mount two volumes from my host, since I think it makes no sense to create files with boilr just in the container.

How would you call boilr running with Docker?

An alternative could also be to use `docker-compose` for that, a `yml` file could look like:

[code]

[2016-07-26 07:27] andrewhowdencom opened #24 "Cut a release."
It'd be nice to get the folder changes in a distributed package. It affects us, as we create a template for PHP software called "Magento", which heavily relies on folders.

If i can help in any way, please let me know!

[2016-07-26 17:53] tmrts commented on #24
I didn't have a chance to work on `boilr` due to me relocating. I'm planning to implement `0.3` features this weekend and cut a release 👍

[2016-07-27 05:13] andrewhowdencom commented on #24
<3 Thanks!

[2016-08-04 07:53] rawkode commented on #17
As there's been no reply on this for over a month, I'll pick this up this afternoon

[2016-08-07 12:00] ghost opened #26 "Clarify instructions for compiling from source."
For some environments (eg fresh install of Go on Gentoo/RPi) the listed `go install` instruction will throw messages about missing packages. Instead, setting `GOPATH` and using `go get github.com/tmrts/boilr` will fetch and build the dependencies and result in the `boilr` binary in `GOPATH/bin/`.

[2016-08-08 09:54] #17 closed, assigned to nobody

[2016-08-10 22:45] baberthal commented on #15
I can take a stab at this.

[2016-08-14 13:53] tmrts commented on #15
Thank you @baberthal, that would be very nice.

Let me know if you need any help and welcome :smile:

[2016-08-14 14:00] tmrts commented on #26
@oneirosFade thanks for the information! I updated the wiki, please take a look at  [Installation](https://github.com/tmrts/boilr/wiki/Installation) and let me know if I've missed anything

[2016-08-22 19:59] Aluriak opened #27 "Current error messages are not helpful"
The API feels very heavy to me : laconic outputs, and at least 5 words for most used commands (!).

The problem have a good illustration here:

[code]

This is annoying, because i _have to forge again_ a long line
in order to understand why:

[code]

And finally forge the full line (which is exactly what i type before… except a dot):

[code]

The common practice to avoid the first problem is to pr

[2016-08-22 22:02] tmrts commented on #27
@Aluriak thanks for the detailed report, TODO items for better error messages and aliases were sitting in my TODO list for a while, but now that boilr started having users, I'll resolve them :+1:

[2016-08-22 22:03] Aluriak opened #29 "non deterministic template saving"
It seems that my `boilr template save . python -f` is not deterministic: follows a terminal session. I don't change any files during the session.

[code]

The error here is raised on [this line](https://github.com/Aluriak/boilr-python/blob/master/template/%7B%7BPackageName%7D%7D/LICENSE#L1), and should not (i think) appear while `License` is defined as [string](https://github.com/Aluriak/boilr-pyt

[2016-08-22 22:10] Aluriak commented on #27
Thank you for support. I don't know anything in Go, so will probably not interact with the source code.

However, this issue is more a remark than a problem. As i said, with proper aliases the API become very lighweight.

[2016-08-22 22:11] tmrts commented on #29
@Aluriak can you reproduce it with the `boilr-license` template listed [here](https://github.com/tmrts/boilr#list-of-templates)?

Also feel free to add your own template to the wiki (it's editable to public).

[2016-08-22 22:14] tmrts commented on #27
@Aluriak that's quite alright, participation is a much more valuable contribution to me than code 😄

I see no obstacle to providing a prompt for `Do you want boilr aliases to be configured?(y/N)` and improving the user experience, it's a good suggestion :+1:

[2016-08-22 22:17] Aluriak commented on #29
No, i can't:

[code]

I will eventually try to reduce my template to a minimal maybe-working code.

Can you reproduce the problem with my template ?

I will add my template to the wiki once it will be good to me.

[2016-08-22 22:21] tmrts commented on #29
I'm putting a reference to your template that causes this behavior in boilr, so that its not lost when you minimize the template (Aluriak/boilr-python@74a3984492a949c442eb00a9d9418fefb61a207c)

I'm about to turn off for the night. But, I'll examine the template as soon as I can and see where the problematic behavior is coming from :+1:

[2016-08-22 22:38] Aluriak commented on #27
I don't know how to manage properly that option, which could be useful
if the main API is not updated.

However, just some indication/advices on the README could be enough. Peoples that don't like typing long commands are the most involved in aliasing, and already know what to do.

Follows the bash-compliant code i've added to my sources.

[code]

Usage:

[code]

[2016-08-22 22:55] Aluriak opened #30 "File existence control"
Some files could possibly be useless in some cases, like a requirement file when user always choose the options that lead to no requirements.

I can't find anything about that.

[2016-08-22 22:57] Aluriak commented on #30
Follows some API propositions.

For the template API, the following could be possible:

[code]

Another way could be to enrich the `project.json` file itself:

[code]

The latter could be a good start to a more modular `project.json`:

[code]

Which is readable as:

[code]

[2016-09-16 21:09] marcinpraczko opened #31 "Support spaces control in templates."
According to this page: https://golang.org/pkg/text/template/ - section 'text and spaces' GO templating allows control spaces:

[code]

For all my test boilr is crashing when one of his syntax is used.

[2016-09-16 21:12] marcinpraczko opened #32 "Add at lest undersore as allowed character to TAGs names."
Currently boilr is not allowing use one of character `_ -` in tag name. I think that this will be more very helpful.

Examples:

[code]

For example if there is 'testing' template and would be nice to add is with different name (version). So this can help test and approve template before renaming (re importing) with the same tag name.

[2016-09-16 21:14] marcinpraczko opened #33 "Testing template with predefined variables."
I think would be valuable to add testing templates with some predefined variables (maybe passing as json). For example initial project.json file can have a lot of options, and template file processing them - would be nice to test auto-creation based on passed file with values. Default options are not always sufficient to test.

For example:

[code]

[2016-11-17 14:12] schmunk42 commented on #24
ping :)

[2016-11-17 14:16] schmunk42 opened #34 "Validation, required values, etc..."
How can I add validation to the project.json variables?

- I.e. default empty value, but it's required to enter at least 10 chars?
- or pregenerated random stings

[2016-12-01 18:31] schmunk42 commented on #20
I am using boilr since a while with this alias

    alias boilr="docker run -it --rm -v ${HOME}/.config/boilr:/root/.config/boilr -v ${PWD}:/project --workdir /project schmunk42/boilr"

Should be interchangeable with native usage.

[2016-12-07 20:25] flawiddsouza opened #35 ""[✘] environment variable ${HOME} should be set" error on Windows"
The title basically describes the error. I've created a environment variable `HOME` to my user directory but it's not getting recognized. I'm assuming Windows isn't supported, but is there a solution to this?

I built from source by running `go get github.com/tmrts/boilr`.

[2016-12-07 20:32] flawiddsouza commented on #35
Update: Looks like it needs admin access to be run. Don't know why. Does it need that on linux or macOS? I was able to run it properly only after opening cmd as administrator.

[2016-12-07 20:36] #35 closed, assigned to nobody

[2016-12-07 21:18] flawiddsouza opened #36 "Malformed zipURL on Windows"
templateURL == tmrts/boilr-license
zipURL == https://codeload.github.com/tmrts\boilr-license\zip\master

This leads to an error, which is:
[✘] download: zip: not a valid zip file

The culprit:
This line from boilr/pkg/host/github.go:
`return "https://codeload.github.com/" + filepath.Join(url, "/zip/"+version)`

This happens because:
"Package filepath implements utility routines for manipulating fi

[2017-01-01 11:49] andrewhowdencom opened #37 "Feature Request: Consider dropping in the sprig template library"
Yo. Helm (kubernetes) is using the Spring template library, and it's proved hella useful for generating the Yaml files that Kubernetes requires. Such a thing should be reasonably easy to integrate with a project like this. It would dramatically increase the possible template outputs, and make this tool heaps more useful for more complex files.

See https://godoc.org/github.com/Masterminds/sprig

[2017-01-07 15:10] tmrts commented on #37
@andrewhowdencom thanks for the suggestion, sprig contains a good amount of functions that I wanted to integrate, its very nice

[2017-01-07 15:11] tmrts commented on #36
@flawiddsouza sorry for the late response and thanks for the report :smile: the bug is fixed now

[2017-01-07 15:16] tmrts commented on #34
@schmunk42 right now you can use template conditionals to check the length and throw out an error.

Ability to specify regular expressions for validating fields should be good enough, I'll think about a solution that doesn't bloat the `project.json` syntax to solve it

[2017-01-07 15:18] tmrts commented on #33
@marcinpraczko sorry for the late response, I didn't understand what you meant, can you elaborate?

[2017-01-07 15:23] tmrts commented on #32
@marcinpraczko `_` and `-` is permitted in the master but not in `0.2.0`, release is outdated that was the cause

[2017-01-07 15:28] tmrts commented on #31
@marcinpraczko I couldn't reproduce your error, `{{-` or `-}}` works as intended for me.

Can you give me the error and/or the template you've used?

[2017-01-07 15:31] tmrts commented on #30
@Aluriak currently empty files are ignored by default

Thanks for the modular structure suggestion, my plan is to use a similar structure for boilr with multiple files such as `project.json`, `hooks.json`, and so on

[2017-01-07 15:52] tmrts commented on #26
Docs should be clear enough on how to compile from source, feel free to reopen if it isn't

[2017-01-07 15:52] #26 closed, assigned to nobody

[2017-01-07 15:55] tmrts commented on #24
@rawkode @andrewhowdencom @schmunk42 I didn't have time to work boilr for a while, but I'm resuming the work, sorry for the pause in development :frowning_face:

[2017-01-07 15:59] #36 closed, assigned to nobody

[2017-01-07 20:56] schmunk42 commented on #24
No need to apologize!

[2017-01-08 10:51] andrewhowdencom commented on #24
Man, I use this tool almost daily. Super grateful for it!

[2017-02-27 10:33] tmrts commented on #29
I narrowed down the cause to the text/template library, but I'm not going to focus on this specifically, due to not enough information and due to the fact that there is an ongoing overhaul for the boilr templating system.

Feel free to comment if you encounter this issue elsewhere or if you've located the cause

[2017-02-27 12:56] tmrts commented on #32
Fixed in the new release https://github.com/tmrts/boilr/releases/tag/0.3.0

[2017-02-27 12:56] #32 closed, assigned to nobody

[2017-02-27 12:57] tmrts commented on #24
https://github.com/tmrts/boilr/releases/tag/0.3.0 :tada:

[2017-02-27 12:57] #24 closed, assigned to nobody

[2017-02-27 13:00] tmrts commented on #11
In `0.3.0` boilr migrated to https://github.com/src-d/go-git, most of the work for allowing private repositories and other VCS repositories is done, only a small part is left (targeted for 0.4.0)

[2017-02-27 13:02] andrewhowdencom commented on #24
YAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY.

[2017-02-27 13:06] rawkode commented on #24
Stoked :+1:

[2017-02-27 13:07] tmrts commented on #33
I believe the request here is to `validate` with every combination instead of just the default ones

[2017-02-27 13:08] tmrts commented on #31
Feel free to reopen if you can reproduce it

[2017-02-27 13:08] #31 closed, assigned to nobody

[2017-02-27 13:13] tmrts commented on #24
@rawkode @andrewhowdencom the long wait is over :smile:

[2017-02-27 15:45] magicshui commented on #11
cool, can't wait to have a try:)
thanks for your work

[2017-02-27 17:52] Aluriak commented on #30
IMHO you should consider allowing both solutions : single file and multiple files.
Single files are much simpler to share and manage. Multiple files are useful for large projects.

[2017-02-27 18:08] Aluriak commented on #13
Using [img2txt](https://www.mankier.com/1/img2txt) from libcaca, i end up with
[this ANSI formatted data](https://github.com/tmrts/boilr/files/804532/logo.txt).

Not perfect ; i found the contrasts hard to read.

Alternatives img to text implementations:
- [jp2a](https://csl.name/jp2a/) seems very powerful
- [ansilove](https://www.ansilove.org/)
- [python script](https://gist.github.com/lindylex/9

[2017-02-28 15:46] th3fallen opened #38 "panic: template index.js:3 function "Name" not defined"
When attempting to save a local template of the following i get the title'd error

## Command
`boilr template save templates/feature feature`

## Output
[code]

## project.json
[code]

## index.js
[code]

am i missing something?

[2017-02-28 15:58] tmrts commented on #38
Is this the directory tree of `template/feature`?
[code]

- If not, can you restructure the template and try?
- If so, can you provide a gist for better inspection?

[2017-02-28 16:00] th3fallen commented on #38
doh that did it, my project.json was in the same dir as template. thanks

[2017-02-28 16:00] #38 closed, assigned to nobody

[2017-02-28 16:03] tmrts commented on #30
@Aluriak my main focus is not to bloat the features and increase the learning curve unless its not doable in a sane manner with the current feature set. Anybody familiar with json should be able to create a template in a matter minutes. Adding multiple options to do the same thing would increase maintenance burden and the learning curve

But, like I said, if a use case is not possible without hack

[2017-02-28 16:06] tmrts commented on #13
@Aluriak great job, I'll take a look and see what we can do :+1:

[2017-02-28 16:07] tmrts commented on #13
For reference, I want something similar to:
[code]

[2017-03-01 07:37] tmrts opened #39 "[RFC]: Move to a simpler model"
Instead of performing template life-cycle operations, encapsulate these operations

## Example workflow
[code]
Behind the scenes:
- Execution metadata recorded for usage with `boilr template log` or `boilr list`
- Template caching from github
- Removes template `template download/save/delete/update/validate`

Why?:
- Most workflows are similar, and users shouldn't have to write a couple of lines t

[2017-03-01 12:03] rawkode commented on #14
With the recent release of `0.3.0` and the switch to `src-d/go.git`, is this something I can work on? :smile:

[2017-03-01 12:32] tmrts commented on #14
@rawkode absolutely :smile:

Now that we are using git for plumbing, a lot of possibilities has opened up (changelog via git log, storing metadata in .git, git hooks/subtrees etc.)

Also see #39

[2017-03-03 07:16] tmrts opened #41 "Meta-Templates"
We should add templates for templates to make maintaining templates easier for the authors.

# Benefits
- Every template contains or needs a README to increase discoverability, this makes it easier
- Quality improvements in README, CI, repository will be shared by everyone

In tmrts/boilr-electron#1 the documentation became outdated, and it could've been avoided

# Usage
The author defines a `repo

[2017-03-14 14:28] rawkode commented on #41
Hi @tmrts, this is a really good idea. Perhaps we could put together a JSON Schema for this file?

Suggesting the name should be `boilr.json`, to avoid conflicts with anything else

[2017-03-16 11:55] tmrts commented on #41
@rawkode `boilr.json` sounds good, I was thinking that https://github.com/littlemanco/boilr-template (cc @andrewhowdencom) is a good starting point. The template we decide would then be shipped with the boilr (still a single binary ofc.).

[2017-03-20 19:02] jdoklovic commented on #4
Personally, I think updating can be even simpler to begin with if a template could simply identify which files can be overwritten.

e.g. I create a project with boilr that creates a readme and a CI plan template. Then I add a bunch of code and update the readme. Then at some point the completely boilerplate CI template is updated. I should be able to run some sort of update that keeps all of my ne

[2017-03-22 20:37] akaul opened #45 "Issues while installing from source"
I'm running into issues while trying to install the package via `go get` when starting from a completely fresh Go workspace.

[code]

I'm using Go 1.8 locally.

[code]

Let me know if there's any additional information I can provide to help debug the issue.

[2017-03-27 08:51] tmrts commented on #4
@jdoklovic since we have started using git as the back-end, implementation of this feature is simplified considerably.

What we want is basically a git-rebase:

1. User renders the template
2. User does some other modifications
3. Updated template is downloaded
4. A stash and rebase is performed on the previously executed & used template

There are some problems with this solution, such as rebase

[2017-04-04 16:48] rawkode commented on #45
Hi @akaul, this should be fixed by #42

[2017-04-04 17:50] akaul commented on #45
Thanks @rawkode!

I've verified this is working locally, so I'm going to close the issue.

[2017-04-04 17:50] #45 closed, assigned to nobody

[2017-04-12 08:05] bennidhamma opened #48 "I think v needs to be in a closure here"
I've made a few hacks on this code to support loading project.json from an input parameter. (it's super crude - I have never worked with Go before, but if you like you can see my hatchet job here: https://github.com/themaven-net/boilr).

In the process, I saw a strange bug where things would work normally if I went through the prompts, but if I used defaults, then all the replacements were ending

[2017-04-17 18:57] jdoklovic opened #50 "Add dependency management for easier contributions"
there should be an easy way for external contributors to get started with required deps.
Here's a PR that includes a small glide.yaml #49

[2017-04-18 20:36] schmunk42 opened #51 "signal SIGSEGV: segmentation violation"
On a Docker image with Debian 8 and boilr 0.3.0

Example command:

    docker run dmstr/roj:0.3.0-beta3 boilr version

[code]

Version 0.2.0 of boilr works fine

    docker run dmstr/roj:0.2.6 boilr version

Outputs

    [...]
    [i] Current version is 0.2.0

*Note: roj version only coincidentally are the same as boilr*

[2017-04-20 16:11] jdoklovic commented on #39
Just FYI, I'm working on some changes around this that I think will clean up the workflow a lot.
PR should be coming soon...

[2017-05-22 13:14] gtcarvalh0 opened #54 "Doc on using as package"
Hi, is there any documentation on using boilr as a package instead of as a binary?

I'm trying to call `cmd.Use.Run(cmd.Use, []string{...})` but it panics, I'm not sure what arguments I'm supposed to pass in here.

[2017-05-22 18:18] #54 closed, assigned to nobody

[2017-07-13 21:35] iancmcc opened #56 "Conditional creation of directories"
Is there a way to conditionally create a directory, based on a parameter? For example:
[code]
With a project.json of:
[code]
This of course wouldn't work, being an invalid template, but is there a way? I have a Go package I often don't want to include.

[2017-07-19 10:58] tmrts commented on #50
@jdoklovic I agree that its time, thanks for bringing the issue up :+1:

I'll take another look after https://github.com/golang/dep matures

[2017-07-26 17:15] stefanwalther opened #57 "Installation error: VIRTUAL_ENV not set - using the install script"
I am getting the following installation error (after the files have been downloaded), using the install version of the latest release:

[code]

I am running it on MacOS, installed Go 1.8.3, darwin/amd64.
Using the install script of release 0.3.0.

BTW: I have realized that the script is actually breaking my terminal window (iTerm), after running the script also go doesn't return the version anymor

[2017-07-28 19:49] stefanwalther opened #58 "Suggestion: Use only one file from a template."
I really like boilr, thx for this great solution. I love the simplicity of boilr.

One suggestion:
- It would be nice to be able to use just one file of a template repo

My use case:
- I'd love to use boilr to insert misc code/readme templates to several projects, but I actually do not want to create a separate boilr repo for each of the templates
- Instead (beside using boilr for scaffolding proj

[2017-09-06 08:55] schmunk42 opened #61 "allow "-" in template tag"
When naming a template it would be nice if boilr would be not "overly" strict about its name.

Action:

    boilr template save -f . something-local

Expected:

Actually nothing, but no error message

Actual:

    [✘] invalid argument for "template-tag": "something-local", should be a valid alphanumeric

Workaround:

    boilr template save -f . somethinglocal

Tested with 0.2.0

[2017-09-22 18:47] stefanwalther commented on #56
In addition to this question, I am also very interested in conditionally creating files ... ;-)

[2017-12-02 23:29] stefanwalther opened #62 "Escape templating"
Hi,

I have created a circleci template which contains the following line:

[code]

Creating this as a boilr-template fails, as I get the message:

[code]

How can I escape GoLang templating for specific files?

Thx for your help in advance!

[2017-12-02 23:31] stefanwalther commented on #62
I have found the solution:

Escape the templating:
[code]

[2017-12-02 23:31] #62 closed, assigned to nobody

[2017-12-14 04:16] ds0nt opened #64 "boilr failing with time parsing errors"
Just running a template that works for other members of my team, seems there is no date parsing that we are doing in these templates, and this is internal to boilr.

[code]

[2017-12-14 04:21] ds0nt commented on #64
updating boilr fixed it.

[2017-12-14 04:21] #64 closed, assigned to nobody

[2018-01-02 03:09] seagoj opened #65 "Is this still under active development?"
I am intrigued by the idea, but it seems like there haven't been any recent commits.

[2018-01-16 11:53] ghost opened #67 "Invalid syntax in project.json doesn't seem to be reported"
I've noticed that when you have an invalid ``project.json`` file, this isn't reported. Instead, boilr will complain about the usage of unknown values inside the template instead.

Just filing this in case anyone else has the same problem, I may get around to making a PR!

[2018-01-31 16:27] philoserf commented on #65
Ping @tmrts

The project has collected a few more stars. Good job. Might be time to recruit a few collaborators to help triage, test, and merge.

[2018-02-15 16:51] HaoZeke opened #68 "Panic on trying to template images [JPG]"
# Reproduction

Folder structure:

[code]

Commands:

[code]

The above is actually found at this [commit ](https://github.com/HaoZeke/boilr-docuYoda/commit/2ec47da64dc1d5843fd9284c7089f20c85b153f5).

# Errors

The following is obtained:

[code]

# Expected

No such error is expected.

## System Details
![Neofetch output](https://user-images.githubusercontent.com/4336207/36268981-fe50de92-129d-11e

[2018-02-15 16:57] HaoZeke opened #69 "Panic on templating TeX files."
# Reproduction

Folder structure:

[code]

Commands:

[code]

The above is actually found at this [commit ](https://github.com/HaoZeke/boilr-docuYoda/commit/a910c8b83893949f451d6c8d821503b5f6ca2766).

# Errors

The following is obtained:

[code]

# Expected

No such error is expected.

## System Details
![Neofetch output](https://user-images.githubusercontent.com/4336207/36268981-fe50de92-129d-11e

[2018-03-17 10:11] harobed opened #71 "Create home brew boilr package"
I suggest to create home brew boilr package.

[2018-03-17 11:30] harobed commented on #71
Private Boilr brew: https://github.com/harobed/homebrew-boilr-tap

[2018-03-17 11:44] harobed commented on #71
https://github.com/Homebrew/homebrew-core/pull/25394

[2018-06-22 15:54] soorena776 opened #73 "Escaping double curly brackets '{{}}' that are not intended to be in the template"
Hi,
Would it be possible to somehow escape non-relevant double curly brackets? One of the files in my template folder is a concourse template file (e.g. _helper.tpl) which has multiple `{{some text}}` in it, and makes `boilr` panic. It would be great if there were some workarounds for this.

Btw, `boilr` is great, thanks for the time and effort!

[2018-07-23 09:43] Ilyes512 commented on #65
I would like to help out... Got some (easy to implement) idea's and it looks like I just found a bug that I will try to fix.

ping @tmrts So what do you say? I would rather prefer to work in this repo then perform a hard fork...

[2018-07-24 16:58] Ilyes512 commented on #48
Oeps, should have checked issues first :P https://github.com/tmrts/boilr/pull/74

[2018-10-04 18:23] Ilyes512 commented on #73
You can "solve" this by using golang raw string constant. So in your template you change `{{sometext}}` to ``{{`{{sometext}}`}}``. Btw I have a hardfork of this project [here](https://github.com/Ilyes512/boilr) Added some of the merge requests here and added some requests.

[2018-11-05 15:52] schmunk42 commented on #65
Would be great if someone could maintain an updated fork.

[2018-11-05 21:06] Ilyes512 commented on #65
I am sort of doing that here https://github.com/Ilyes512/boilr

edit: fixed link

[2018-11-05 21:20] jackwilsdon commented on #65
@Ilyes512 would that not be better as just a fork with issues enabled? ~I'm not a fan of all of the existing commits being attributed to you.~ (oops I'm wrong about that!)

[2018-11-05 21:43] Ilyes512 commented on #65
@jackwilsdon what? I did not change any of the original commits? I also added a disclaimer here https://github.com/Ilyes512/boilr#note So not sure what you mean with "commits being attributed to you". So please explain what you mean.

Maybe I should't have chosen to "hard" fork it, but I got a little "scared" after reading this https://www.niels-ole.com/ownership/2018/03/16/github-forks.html Did n

[2018-11-05 22:53] jackwilsdon commented on #65
~[It looks like your hard-fork has re-attributed all of the commits to you](https://github.com/Ilyes512/boilr/commits) (I'm sure that was not your intent), although I'm not sure that there's all that much that can be done in this case (due to how GitHub manages who commits belong to).~

I can understand your concern with GitHub's forks, but the issues listed in that article seem to relate to repos

[2018-11-05 22:58] jackwilsdon commented on #65
Ah my apologies @Ilyes512, I see you've been adding additional commits! Please ignore everything I've said regarding that. From the first page of commits it looked like existing ones had been re-attributed to you (I didn't notice they were new ones 😖).

[2018-11-05 23:26] Ilyes512 commented on #65
Okey, glad we solved that misunderstanding :)

I actually needed to read the article (I did now, but before I actually only skimmed it and missed the preivate repo part). I will try and fix the repository (by having it linked again to the original), but I believe that wont be as easy (would need to delete current repo, refork it and re-release whatever I released). Might not be worth the trouble,

[2019-08-21 13:41] solaegis opened #75 "honor symbolic links in templates"
I'd like to suggest an enhancement that would allow boilr to support symbolic links between files.  Where Name and Author are defined in project.json, this tree would be properly handled when saved as a template:

[code]

and would result in the following when used

[code]
where MyName is supplied for Name and SolAegis is supplied for Author

[2019-11-01 00:20] stefanwalther opened #78 "Is this project dead?"
I love this project and use it for a while ...

It seems that there are quite a few folks out there being willing to contribute (see the PRs).

@tmrts Can we make this repo open to other contributors + maintainers? It would be really great to get some traction on this repo ...

Regards
Stefan

[2019-11-01 07:27] jackwilsdon commented on #78
Check #65 — there is a fork there which seems to have a bit more life in it.

[2019-11-01 09:40] stefanwalther commented on #78
Thanks!!!

[2019-11-01 09:40] #78 closed, assigned to nobody

[2020-01-24 19:04] sarahkittyy opened #79 "--use-defaults emplacing wrong values."
Running `boilr template use my_template . -f` inserts the wrong values.

`project.json`
[code]
`template/LICENSE.md`
[code]

`boilr template use license .`
![image](https://user-images.githubusercontent.com/31551546/73096248-5b97d780-3eb2-11ea-8e06-1981377d8f8e.png)

`boilr template use license . -f`
![image](https://user-images.githubusercontent.com/31551546/73096279-6ce0e400-3eb2-11ea-9468-2362c

[2020-06-04 13:19] danielbayley commented on #71
@harobed Maybe the formula would be accepted if you rework it to build from source based on the instructions [here](https://github.com/tmrts/boilr/wiki/Installation#building-from-source) in the Wiki, rather than maintain your own tap?

Or, maybe you could submit it to [homebrew-cask](https://github.com/Homebrew/homebrew-cask) as a Cask instead? As mentioned in https://docs.brew.sh/Acceptable-Formu

[2021-01-21 07:51] yujunz opened #82 "How to template symlink?"
How can I template a symlink?

[code]

Is it supported by boilr ?

[2021-01-29 21:57] ashtonian commented on #71
this is the way

[2021-10-23 17:48] hoangmirs commented on #5
Hi @tmrts
After the changes in https://github.com/tmrts/boilr/commit/7b973fccfba9bbc39df0ca6a8a3a23591b96fb1e, can I use the following project configuration?
[code]
I tried but it did not work, could you tell me how to use it?
Thank you

[2021-12-14 19:47] mattiamarchesini commented on #35
I don't know why running as administrator solved the problem for you.

What I did is adding a variable called HOME in the Environment Variables and it started working.

[2022-01-16 12:27] madrix01 opened #86 "Boilerplate management tool inspired from boilr"
I was looking for a boilerplate management tool and found this project and was amused by it, but this project do not have any new commit for long time. I took inspiration from this project and created a boilerplate management tool [**Bare**](https://github.com/bare-cli/bare). I have written this in go. This have all the basic features of **boilr** and some new features I have added.

Features of *

[2022-01-18 11:27] madrix01 commented on #86
I'll try to fix all the open issues on this repository. Thanks !!

[2022-06-21 12:26] marcpires commented on #86
Is this still active :(

[2022-06-21 15:38] madrix01 commented on #86
@marcpires I'll try to work and merge any pull request if you have any ideas.

[2022-08-28 12:24] jaredallard commented on #86
We're still working on docs, but we have a tool we've been working on for a few years now we just open sourced: https://github.com/getoutreach/stencil